= render 'hero_section'
= render 'unique_section'
= render 'benefits_section'
= render 'featurette_section'
= render 'features_section'
= render 'pricing_section'
= render 'assistance_section'











